.pai {
    width: 50%;
    height: 200px;
    margin: auto;
    display: flex;
    align-items:end;

    background-image: url('https://i.pinimg.com/originals/35/9f/dd/359fdd4591021fa0e6aa9521810b42a2.gif');
    background-size: cover;
    background-position:bottom;
    outline: solid 10px maroon;
    border: solid 3px green;
    border-radius: 10px;
}

.bolinha {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url('https://www.google.com/images/sonic/6-sonic-roll-60px.gif');
}